node_modules/
party-app/node_modules/
dist/
build/
.env
*.log


node_modules/
.bash_history
functions/node_modules
.bash_history

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local


functions/node_modules
node_modules/
party-app/node_modules/
/**/node_modules/
party-app/**/node_modules/
dist/
build/
.env
*.log
